
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
}

.contenedor section {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  text-transform: uppercase;
  font-size: 60px;
  rotate: 90;
  transition: all 2s rotate;
}

section:hover {
transition: all;
}

.bg-color section:nth-child(1) {
  background-color: #0ff;
}

.bg-color section:nth-child(2) {
  background-color: #0dd;
}

.bg-color section:nth-child(3) {
  background-color: #0aa;
}

.bg-color section:nth-child(4) {
  background-color: #088;
}

.bg-color section:nth-child(5) {
  background-color: #066;
}
