groot
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
}

.texto {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
}
